body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

*{
    overflow-x: hidden;
}

button {
    background-color: white;
    padding: 10px;
    height: 36px;
    width: 36px;
    overflow: hidden;
}

button:hover {
    background-color: lightblue;
}

#array {
    background-color: darkslategray;
    color: white;
    font-family: monospace;
    min-height: 20px;
    width: 720px;
    word-wrap: break-word;
}

video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: none;
    width: auto;
    height: auto;
}